.home {
  padding-bottom: 130px;
  padding-top: 100px;
}
.topic-item {
  padding: 0.425rem;
  border-bottom: 1px solid #f0f0f0;
}
.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-item {
  display: flex;
  align-items: center;
  width: 82%;
}
.read-count {
  font-size: 25px;
  color: #b4b4b4;
  margin: 0 0.3478rem;
}
.coment-count {
  font-size: 25px;
  color: #b4b4b4;
  margin: 0 0 0 0.3478rem;
}
.left-item .title {
  max-width: 69%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.topic-item .avatar {
  width: 1.3043rem;
  height: 1.3043rem;
  border-radius: 50%;
  margin-right: 0.2174rem;
}
.right-item {
  font-size: 25px;
  color: #868686;
}
.topic-item .tag {
  font-size: 25px;
  padding: 1px 0.2174rem;
  color: #ffffff;
  border-radius: 3px;
  margin-right: 0.2174rem;
  margin-left: 0.2174rem;
}
.topic-icon {
  font-size: 30px;
  color: #b4b4b4;
}

.bottom-item {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.4348rem;
}

.bottom-item .icon-align {
  display: flex;
  align-items: center;
}

.coment-icon {
  font-size: 30px;
  color: #b4b4b4;
}

.share-tag {
  background-color: #7fdbda;
}
.job-tag {
  background-color: #ade498;
}
.good-tag {
  background-color: #ede682;
}
.ask-tag {
  background-color: #febf63;
}
.top-tag {
  background-color: #ff7171;
}
.arrow-up {
  position: fixed;
  top: 80%;
  bottom: 20%;
  right: 16px;
}
.at-tabs__item--active {
  color: #80bd01;
}
.at-tabs__item-underline {
  background-color: #80bd01;
}
.at-fab {
  background: #80bd01;
}
.at-fab:active {
  background: #79b300;
}
.at-tabs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
